<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>ndc.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-content-container>
    <app-powered-by></app-powered-by>
    <app-basic-input></app-basic-input>

    <app-pal-calculator></app-pal-calculator>

    <app-sport-calculator></app-sport-calculator>

    <app-nutrition-calculator></app-nutrition-calculator>
  </app-content-container>
</ion-content>
